.about {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: x-large;
  width: 100vw;
  margin-top: 100px;
  scroll-margin-top: 100px;
}

@media only screen and (max-width: 1200px) {
  .about {
    font-size: large;
  }
}

.statement {
  color: white;
  margin: 20px;
}

@media only screen and (min-width: 700px) {
  .statement {
    width: 60%;
  }
}
