.skills {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  margin: 100px 0 100px 0;
  /* width: 100vw; */
  scroll-margin-top: 100px;
}

.skills-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  width: 60%;
}

/* @media only screen and (max-width: 1200px) {
  .skills-container {
    font-size: large;
  } */
/* } */
@media only screen and (max-width: 700px) {
  .skills-container {
    width: 100vw;
    font-size: large;
  }
}

.skills-list {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills-item {
  margin: 10px;
  padding: 10px;
  list-style-type: circle;
}
