body {
  background-size: cover;
  background: url("./assets/Images/abstractPurple-2880x1800.jpeg") fixed center
    80%;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 700px) {
  body {
    background-image: url("./assets/Images/abstractPurple-700x437.5.jpeg");
  }
}

a {
  color: #fff;
  all: unset;
}

a,
a:visited {
  color: #fff;
}

a:hover {
  color: blueviolet;
  cursor: pointer;
}
